*{
    margin: 0;
    padding: 0;
    font-family: 'League Gothic', sans-serif;
    font-family: 'Poppins', sans-serif;
  }
  
  .H1
  {
    text-align: center;
    color: orangered;
  }
  
  .H2
  {
    padding: 50px;
    text-align: center;
  }
  
  .header
  {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
  
  }
  
  nav
  {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  
  /*to work on the logo*/
  nav img
  {
    width: 150px;
  
  }
  /* spacing and positioning of links*/
  .navigationbar
  {
    flex: 1;
    text-align: right;
  
  }
  .navigationbar ul li
  {
    list-style: none;
    display: inline-block;
    /* this defines the spacing of the text the first value px shifts vertically and next shift horizontally*/
    padding:  8px 12px;
    position: relative;
  }
  
  /* this defines the size and color of the text*/
  /*if i need more font search google fonts*/
  .navigationbar ul li a
  {
    color: white;
    text-decoration: none;
    font-size: 13px;
  }
  /*Spicing up the button Home,about etc*/
  .navigationbar ul li::after
  {
    content: '';
    width: 0%;
    height: 2px;
    background: orangered;
    display: block;
    margin: auto;
    transition: 0.5s;
  
  }
  .navigationbar ul li:hover::after
  {
  width: 100%
  
  }
  /* this is where all the mods are done to the text box below the 
  WSSG logo on the home page*/
  .text-box
  {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  /*adjusting the size of the tilte "WSSG"*/
  .text-box h1
  {
    font-size: 68px;
  
  }
  
  /* contact form begin  */
  legend
  {
    width: 50%;
    margin-left: 25%;
  }
  .contactForm
  {
background-color: BLACK;
  }

  label
  {
    color: orangered;
    
  }

  H1
  {
    color: orangered;
    text-align: center;
  }

  input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=submit] {
  background-color: white;
  margin-left: 20%;
  width: 60%;
  color: black;
  padding: 12px 20px;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px; /* Bottom margin */
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: orangered;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* contact form end */

 

 /*footer socials   */
 .footer
 {
     background-color: orangered;
     width: 100%;
     color: white;
     text-align: center;
     padding: 30px 0;  
 } 


/* Facebook */

.fa-facebook 
{
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #3B5998;
  color: white;
  
}
/* IG */

.fa-instagram {
  background: #7c04a0;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Twitter */

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
  /* end of footer socials  */

  .information h1
  { 
      text-align: center;
      color: orangered;
      background-color: black;
  }
  

  .information
  {
      color: orangered;
      background-color: black;
  }
  
  
  /*adjusting so it fits on all devices*/
  @media(max-width:700px)
  {
    .text-box h1
    {
        font-size: 20px;
    }
  
    .nav-links ul li
    {
        display: block;
    }
  
    .nav-links
    {
        position: absolute;
        background: orangered;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -300px;
        text-align: left;
        z-index: 2;
        transition: .5s;
    }
    nav .fa
    {
        display: block;
        color:white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
  
    .nav-links
    {   /*this sets the spacing in the menu bar */
        padding: 30px;
    }
  
    .row
    {
        flex-direction: column;
    }
  
    .testimonials-col img
    {   
        margin-left: 0px;
        margin-right: 15px;
    }
  
    .cta h1
    {
        font-size: 24px;
    }
    
  }

  .about 
  {
    font-size: 30px;
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
 