*{
  margin: 0;
  padding: 0;
  font-family: 'League Gothic', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.H1
{
  text-align: center;
  color: white;
  /* used to color the usser account settings logo */
}


.header
{
  min-height: 100vh;
  width: 100%;
  background-color: black;
  background-position: center;
  background-size: cover;
  position: relative;
/* background of the user account settings */
}

nav
{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  /* formats the links positioning */
}

/* spacing and positioning of links*/
.navigationbar
{
  flex: 2;
  text-align: right;

}
.navigationbar ul li
{
  list-style: none;
  display: inline-block;
  /* this defines the spacing of the text the first value px shifts vertically and next shift horizontally*/
  padding:  8px 12px;
  position: relative;
}


.navigationbar ul li a
{
  /* this defines the size and color of the text*/
/*if i need more font search google fonts*/
  color: white;
  text-decoration: none;
  font-size: 13px;
}


.navigationbar ul li:hover::after
{
  content: '';
    width: 0%;
    height: 2px;
    background: orangered;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/*adjusting the size of the tilte "USER ACCOUNTS SETTING"*/
.text-box h1
{
  font-size: 68px;
}

.footer
{
    background-color: orangered;
    width: 100%;
    color: white;
    text-align: center;
    padding: 30px 0;

}


input[type=text],[type=password]
 {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.updatebtn
{
  background-color: orangered;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.7;
  align-self: center;
  margin-bottom: 20px;

}

.updatebtn:hover
{
  color: white;
  border: 1px solid orangered;
  background: orangered;
  transition: .6s;
}

.active, .collapsible:hover 
{
width: 100%;
background-color:orangered;

}

.updateInfo {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: grey;
}

 /*footer socials   */
 .footer
 {
     background-color: orangered;
     width: 100%;
     color: white;
     text-align: center;
     padding: 30px 0;  
 } 


/* Facebook */

.fa-facebook 
{
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #3B5998;
  color: white;
  margin-bottom: 0%;
}
/* IG */

.fa-instagram {
  background: #7c04a0;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Twitter */

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
  /* end of footer socials  */

/* end of formatting  */

  /*adjusting so it fits on all devices*/
  @media(max-width:700px)
  {
    .text-box h1
    {
        font-size: 20px;
    }
  
    .nav-links ul li
    {
        display: block;
    }
  
    .nav-links
    {
        position: absolute;
        background: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -300px;
        text-align: left;
        z-index: 2;
        transition: .5s;
    }
    nav .fa
    {
        display: block;
        color:white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
  
    .nav-links
    {   /*this sets the spacing in the menu bar */
        padding: 30px;
    }
  
    .row
    {
        flex-direction: column;
    }
  
    .testimonials-col img
    {   
        margin-left: 0px;
        margin-right: 15px;
    }
  
    .cta h1
    {
        font-size: 24px;
    }
    
  }



 